<a [routerLink]="'createAwesome'" class="btn btn-success" > Create Awesome</a><br>
<router-outlet></router-outlet>
<p>Yes {{awesomeList.length}} new create </p>
<div>
  <table class="table table-bordered">
    <tr>
      <th>Tag</th>
      <th>URL</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let awesome of awesomeList">
      <td><a [routerLink]="['viewAwesome',awesome.id]">{{awesome.tag}}</a></td>
      <td> <a [routerLink]="['viewAwesome',awesome.id]">{{awesome.url}}</a></td>
      <td> <a [routerLink]="['viewAwesome',awesome.id]">{{awesome.descriptions}}</a></td>
      <td><a [routerLink]="['editBlog',awesome.id]">edit</a></td>
      <td><a [routerLink]="['deleteBlog',awesome.id]">Delete</a></td>
    </tr>
  </table>
</div>
