<h3>update Awesome</h3>
<div *ngIf="message">
  <p style="color: red">{{ message }}</p>
</div>
<div *ngIf="awesome">
  <form #awesomeForm="ngForm" (ngSubmit)="editAwesome(awesomeForm)">
    <table>
      <div class="form-group">
        <label>
          <input type="hidden" [(ngModel)]="awesome.id" name="id" ngModel class="form-control"/>
        </label>
      </div>

      <tr class="form-group">
        <th>
          <label>tag:</label>
        </th>
        <td>
          <label>
            <input type="text" [(ngModel)]="awesome.tag" name="tag" ngModel class="form-control"/>
          </label>
        </td>
      </tr>
      <tr class="form-group">
        <th>
          <label>url:</label>
        </th>
        <td>
          <label>
            <input type="text" [(ngModel)]="awesome.url" name="url" ngModel class="form-control"/>
          </label>
        </td>
      </tr>
      <tr class="form-group">
        <th>
          <label>Description:</label>
        </th>
        <td>
          <label>
            <textarea type="text" [(ngModel)]="awesome.descriptions" name="descriptions" ngModel class="form-control"></textarea>
          </label>
        </td>
      </tr>
    </table>
    <div>
      <button type="submit" class="btn btn-success" style="margin-left: 100px">Update</button>
    </div>
  </form>

</div>
